<style type="text/css" media="screen">
    .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 39px;
        height: 60px;
        padding: 2px 2px;
        overflow: hidden;
    }
</style>
<div id="gr_grid_widget_1529240387">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="Surely You're Joking, Mr. Feynman!: Adventures of a Curious Character" rel="nofollow" href="https://www.goodreads.com/book/show/5544.Surely_You_re_Joking_Mr_Feynman_"><img alt="Surely You're Joking, Mr. Feynman!: Adventures of a Curious Character" border="0" src="https://images.gr-assets.com/books/1348445281s/5544.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/11.The_Hitchhiker_s_Guide_to_the_Galaxy"><img alt="The Hitchhiker's Guide to the Galaxy" border="0" src="https://images.gr-assets.com/books/1513003890s/11.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Brave New World" rel="nofollow" href="https://www.goodreads.com/book/show/5129.Brave_New_World"><img alt="Brave New World" border="0" src="https://images.gr-assets.com/books/1523061131s/5129.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Nightfall and Other Stories" rel="nofollow" href="https://www.goodreads.com/book/show/70771.Nightfall_and_Other_Stories"><img alt="Nightfall and Other Stories" border="0" src="https://images.gr-assets.com/books/1297455226s/70771.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Stranger" rel="nofollow" href="https://www.goodreads.com/book/show/49552.The_Stranger"><img alt="The Stranger" border="0" src="https://images.gr-assets.com/books/1349927872s/49552.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Last Question" rel="nofollow" href="https://www.goodreads.com/book/show/4808763-the-last-question"><img alt="The Last Question" border="0" src="https://images.gr-assets.com/books/1274107046s/4808763.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Gödel, Escher, Bach: An Eternal Golden Braid" rel="nofollow" href="https://www.goodreads.com/book/show/24113.G_del_Escher_Bach"><img alt="Gödel, Escher, Bach: An Eternal Golden Braid" border="0" src="https://images.gr-assets.com/books/1428732588s/24113.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Slaughterhouse-Five" rel="nofollow" href="https://www.goodreads.com/book/show/4981.Slaughterhouse_Five"><img alt="Slaughterhouse-Five" border="0" src="https://images.gr-assets.com/books/1440319389s/4981.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Second Foundation (Foundation #3)" rel="nofollow" href="https://www.goodreads.com/book/show/29580.Second_Foundation"><img alt="Second Foundation" border="0" src="https://images.gr-assets.com/books/1417900922s/29580.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Sirens of Titan" rel="nofollow" href="https://www.goodreads.com/book/show/4982.The_Sirens_of_Titan"><img alt="The Sirens of Titan" border="0" src="https://images.gr-assets.com/books/1419363185s/4982.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Man's Search for Meaning" rel="nofollow" href="https://www.goodreads.com/book/show/4069.Man_s_Search_for_Meaning"><img alt="Man's Search for Meaning" border="0" src="https://images.gr-assets.com/books/1467136625s/4069.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Flowers for Algernon" rel="nofollow" href="https://www.goodreads.com/book/show/20657024-flowers-for-algernon"><img alt="Flowers for Algernon" border="0" src="https://images.gr-assets.com/books/1391103077s/20657024.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Kaleidoscope" rel="nofollow" href="https://www.goodreads.com/book/show/32323544-kaleidoscope"><img alt="Kaleidoscope" border="0" src="https://images.gr-assets.com/books/1475299981s/32323544.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="East of Eden" rel="nofollow" href="https://www.goodreads.com/book/show/4406.East_of_Eden"><img alt="East of Eden" border="0" src="https://images.gr-assets.com/books/1441547516s/4406.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Catch-22 (Catch-22 #1)" rel="nofollow" href="https://www.goodreads.com/book/show/168668.Catch_22"><img alt="Catch-22" border="0" src="https://images.gr-assets.com/books/1463157317s/168668.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Ubik" rel="nofollow" href="https://www.goodreads.com/book/show/22590.Ubik"><img alt="Ubik" border="0" src="https://images.gr-assets.com/books/1327995569s/22590.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Algorithms to Live By: The Computer Science of Human Decisions" rel="nofollow" href="https://www.goodreads.com/book/show/25666050-algorithms-to-live-by"><img alt="Algorithms to Live By: The Computer Science of Human Decisions" border="0" src="https://images.gr-assets.com/books/1454296875s/25666050.jpg" /></a></div>
        <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Robert, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
    </div>

</div>
<script src="https://www.goodreads.com/review/grid_widget/44289250?cover_size=small&hide_link=true&hide_title=true&num_books=20&order=a&shelf=favorites&sort=date_added&widget_id=1529240387" type="text/javascript" charset="utf-8"></script>

<br>
<br>