<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if page.url == "/" %} active {% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title == "Legal Disclaimer" or node.title == "About"%}
            {% continue %}
        {% endif %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item {% if page.url == node.url %} active {% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


            
      <a class="sidebar-nav-item" href="https://robertreads.notion.site/">
            Book reviews <i class="fa fa-books"></i>
     </a>
     <a class="sidebar-nav-item {% if page.url == '/about/' %} active {% endif %}" href="/about/">About</a>

        <a class="sidebar-nav-item {% if page.url == node.url %} active {% endif %}" href="{{ node.url }}">{{ node.title }}</a>
      <a class="sidebar-nav-item" id="open-popup" href="#">
            Subscribe <i class="fa fa-envelope"></i>
     </a>
      <div class="sidebar-nav-item">
          <p>
        
              <a href="{{ site.github.repo }}">
              <i class="fa fa-github" aria-hidden="true"></i></a>
              &nbsp;
              <a href="{{ site.social.linkedin }}">
                  <i class="fa fa-linkedin-square"></i>
              </a>&nbsp;
              <a href="{{ site.social.twitter }}">
                  <i class="fa fa-twitter-square"></i>
              </a>&nbsp;

          </p>
      </div>
    </nav>

    <p>&copy Robert Andrew Martin {{ site.time | date: '%Y' }}. All rights reserved. <a style="color: rgba(255,255,255,.5);" href="{{ site.url }}/Disclaimer">Disclaimer.</a></p>
  </div>
</div>

<!-- Mailchimp -->
<script type="text/javascript" src="https://downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

<script type="text/javascript">
function showMailingPopUp() {
    console.log("showing popup");
    window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"31c71a4d79bd53ab3c537a59e","lid":"2416515c90","uniqueMethods":true}) })
    document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
};

document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
</script>
