<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if page.url == "/" %} active {% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title == "Legal Disclaimer" %}
            {% continue %}
        {% endif %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item {% if page.url == node.url %} active {% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <div class="sidebar-nav-item">
          <p>
              <a href="{{ site.github.repo }}">
              Github <i class="fa fa-github" aria-hidden="true"></i></a>
              &nbsp;
              <a href="{{ site.social.linkedin }}">
                  LinkedIn <i class="fa fa-linkedin-square"></i>
              </a>&nbsp;
              <!-- <a href="{{ site.url }}/assets/public_cv.pdf">
                  C.V.
              </a> -->
          </p>
      </div>

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">
          GitHub <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">
          LinkedIn <i class="fa fa-github" aria-hidden="true"></i>
      </a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>&copy Robert Andrew Martin {{ site.time | date: '%Y' }}. All rights reserved. <a style="color: rgba(255,255,255,.5);" href="{{ site.url }}/Disclaimer">Disclaimer.</a></p>
  </div>
</div>
